<div class="brands-wrapper">
    <a href="#"><img src="{{cdn 'img/generc.png'}}" /></a>
    <a href="#"><img src="{{cdn 'img/kohler.png'}}" /></a>
    <a href="#"><img src="{{cdn 'img/briggsStratton.png'}}" /></a>
    <a href="#"><img src="{{cdn 'img/simpsontransparent.png'}}" /></a>
    <a href="#"><img src="{{cdn 'img/pressurepro.png'}}" /></a>
    <a href="#"><img src="{{cdn 'img/firman.png'}}" /></a>
<!--    <a href="#"><img width="70%" src="{{cdn 'img/champion01.png'}}" /></a>-->
    <a href="#"><img src="{{cdn 'img/blueYamahaTransparent.png'}}" /></a>
</div>
