<div class="brands-wrapper">
    <a href="/generac-2/"><img src="{{cdn 'img/generc.png'}}" /></a>
    <a href="/kohler/"><img src="{{cdn 'img/kohler.png'}}" /></a>
    <a href="/briggs-stratton/"><img src="{{cdn 'img/briggsStratton.png'}}" /></a>
    <a href="/simpson-washers/"><img src="{{cdn 'img/simpsontransparent.png'}}" /></a>
    <a href="/pressure-pro/"><img src="{{cdn 'img/pressurepro.png'}}" /></a>
    <a href="/brands/firman-portable-generator"><img src="{{cdn 'img/firman.png'}}" /></a>
    <a href="/champion/"><img width="60%" src="{{cdn 'img/champion01.png'}}" /></a>
<!--    <a href="#"><img src="{{cdn 'img/blueYamahaTransparent.png'}}" /></a>-->
</div>
