<header class="header" role="banner">

    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>

    {{> components/common/navigation}}

    <div class="header-wrapper">
        <div class="site_logo">{{> components/common/store-logo}}</div>
        <div class="header-blurb-1"><h4>Your Generator & Pressure Washer Superstore</h4></div>
        <div class="header-blurb-2"><h4>Call the Experts: 1-630-283-5000</h4></div>
    </div>
    <div class="header-search"><h3>{{> components/common/quick-search}}</div>

    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
</header>
{{{region name="header_bottom"}}}
